{% extends 'base.html.twig' %}
{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        - <a href="{{ path('dashboard') }}">Administration</a><br>
    {% endif %}
        - <a href="">Devenir premium</a>
{% endblock %}
