{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h1>Consultez nos articles</h1>
            </div>
            <hr>
            <div class="col-md-12">
                {% for article in articles %}
                <div class="card mb-3">
                    {% if article.image is not null %}
                    <img class="card-img-top" width="300px" height="200px" src="/uploads/{{ article.image }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <p class="card-text">{{ article.description }}</p>
                        <a href="{{ path('article',{'id': article.id}) }}" class="btn btn-primary">Consulter l'article</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                <h3>Consultez également nos articles pour les membres premium</h3>
                <a class="btn btn-primary">Dévenir premium</a>
            </div>
        </div>
    </div>
{% endblock %}
